@{
    ViewBag.Title = "About Team Orphans’ Virtual Ironman";
}
<h2>@ViewBag.Title.</h2>

<p>
    <strong>
        YOU CAN DO the Team Orphans’ Virtual Ironman AND help place an ORPHAN
        in a loving forever home!
    </strong>
</p>

</p>No, I am not crazy! Please read more.<p>

<p>
    Like most people, I have many passions in my life. My top two are my relationship
    with God, followed by my relationship with my wife of 42 years.
</p>
<p>
    Two other passions of mine are seeing people get physically active for their own
    health and seeing those less fortunate – <em>special needs international orphans</em> – placed
    in forever homes with parents that will love and nurture them.
</p>
<p>
    I will be participating in Ironman Boulder on August 3, 2014. As you probably
    know, this is a single-day event consisting of a 2.4 mile swim, 112 mile bike,
    finishing with a 26.2 mile run – a marathon. We are allowed a maximum of 17 hours
    to complete the 140.6 miles. Under the very watchful eye of my coach, Elizabeth,
    I’ve already begun training for this challenge. In preparation, Liz will be assigning
    2 mile swim workouts for me. On some Saturdays she will assign 100 mile/seven
    hour bike rides. And on some Sundays she will assign 20 mile runs. All necessary in
    order to be able to swim, bike, and run the 140.6 miles. It will be my third Ironman,
    and I have a goal of finishing in 13 hours. When I cross the finish line, I’ll be given a
    Finisher’s Shirt and a medal.
</p>
<p>
    While I am training, you have the opportunity to join the fun and do the Team
    Orphans’ Virtual Ironman. No, you will not complete 140.6 miles in one day, but
    you can complete 140.6 miles of activity during the months leading up to Ironman
    Boulder on August 3. Simply do your favorite exercise activities, record your
    mileage, and send me updates on your progress. When you have accumulated 140.6
    miles, we will declare you a “<strong>TEAM ORPHANS’ VIRTUAL IRONMAN FINISHER!</strong>”
</p>
<p>
    You may walk, swim, and/or bike. You may walk your dog, walk your kids, use an
    elliptical machine, treadmill, stationary bike—<strong><em>WHATEVER YOU WANT!</em></strong> You can
    totally do this.
</p>
<p>
    For example, you could exercise 6.4 miles per week between March 1 and August
    1. That is less than 1 mile per day! <strong>YOU CAN BE A TEAM ORPHANS’ VIRTUAL
    IRONMAN FINISHER!</strong>
</p>
<p>
    What is Team Orphans? Why should you do the Team Orphans’ Virtual Ironman?
    Team Orphans is the fundraising arm of Brittany’s Hope, a non-profit organization
    that provides financial grants to adoptive parents to help offset the financial cost to
    adopt an International Special Needs Orphan. There are approximately 153,000,000
    of these precious children living in institutions around the world. Each one of these
    children needs to be placed in a good home.
</p>
<p>
    Of the eleven grandchildren Stella and I have been blessed with, four were adopted:
    two international, two domestic. The two international adoptions were not orphans,
    nor were they special needs, but we learned from those adoptions just how
    incredibly expensive the international process is. More than $30,000 per adoption!
</p>
<p>
    One of our grandchildren adopted domestically was labeled “special needs.” When
    he came to my son’s home at age four, he was non-communicative with no verbal
    skills, no apparent hearing ability, and questionable cognitive skills. The social
    workers did not predict a bright future for him. However, with the love, attention,
    and effort of my son, my daughter-in-law, and good teachers, he has overcome all of
    those obstacles. Today, as an almost six year old, he hears and responds to verbal
    instruction. He not only reads, but reads well. There is no question he has the
    ability to communicate verbally. We believe his future is quite bright.
</p>
<p>
    I am now racing with a purpose – raising funds to help defray the costs families
    incur adopting a special needs international orphan. Not many adoptive parents
    can afford the $30,000 bill. Team Orphans/Brittany’s Hope provides grants to these
    adoptive parents to reduce their cash outlay. Hopefully, we will see more children
    adopted.
</p>
<p>
    Will you help? Will you take the challenge to exercise 140.6 miles over the next five
    months while I train for Ironman Boulder?
</p>
<p>
    By registering to participate in the Team Orphans’ Virtual Ironman, you simply need
    to exercise seven miles per week between March 1 and August 3—when I cross the
    finish line at Ironman Boulder.
</p>

<h2>How do you register?</h2>

<p>
    Click the “Donate” link and donate a minimum of $75.00. This donation will register
    you to participate. The donation will be processed through the Ironman Foundation
    and forwarded to Brittany’s Hope to fund the adoption grants. And then begin
    exercising! Keep track of your daily mileage. Send me pictures of your exercise
    activity and progress reports. With your permission, we will post these on this
    fund raising page and on our Team Orphans’ web site. Let me know when you have
    reached your total of 140.6 miles. We will declare you to be a “<strong>
    TEAM ORPHANS’
    VIRTUAL IRONMAN FINISHER’
</strong>! We’ll send you Team Orphans’ temporary tattoos
    that you may wear while I’m competing at Ironman Boulder. We will send you a
    Team Orphans Virtual Ironman Finisher tee shirt. And of course, we will send you a
    Team Orphans medal . . . all the same swag I’ll receive when I cross the finish line at
    Ironman Boulder on August 3.
</p>
